{% extends 'base.html.twig' %}

{% block title %}Create a trick{% endblock %}

{% block body %}
    {{ form_start(form) }} 
     <div class="container top">
            <ol class="breadcrumb ">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Create</li>
            </ol>
            <div class="headPicture-wrapper">
                <img class="img-fluid" src="/assets/img/jumbo-img.jpg" alt="">
            </div>
            <hr>
            <div class="trick-title container d-flex align-items-center ">                
                <div class="pl-3  d-flex">
                    <div>{{ form_row(form.name) }}</div>
               
                </div>            
            </div>
            <hr>            
            <div class="trick-info container">
                <div class="row ">                    
                    <div class="col-md-5">
                        {{ form_row(form.category) }}
                    </div>
                    
                </div>            
            </div>
            <hr>           
            <div class="trick-description">
                
                <p class="text-justify">{{ form_row(form.description) }}</p>
            </div>
            
        {{ form_widget(form._token) }}
                    
 
        <button type="button" class="btn btn-success btn-new-image mt-3" data-collection="#pictures">Add image</button>
        <div
                id="pictures"
                class="row"
                data-prototype="{{ include("trick/form/_picture.html.twig", {form: form.pictures.vars.prototype})|e("html_attr") }}"
                data-index="{{ form.pictures|length > 0 ? form.pictures|last.vars.name + 1 : 0 }}"
            >
            {% for picture in form.pictures %}
                <div class="col-4">
                    {{ include("trick/form/_picture.html.twig", {form: picture}) }}
                    
                </div>
            {% endfor %}
        </div>


        <button type="button" class="btn btn-success btn-new-video mt-3" data-collection="#videos">Add video</button>
        <div
                id="videos"
                class="row"
                data-prototype="{{ include("trick/form/_video.html.twig", {form: form.videos.vars.prototype})|e("html_attr") }}"
                data-index="{{ form.videos|length > 0 ? form.videos|last.vars.name + 1 : 0 }}"
            >
            {% for video in form.videos %}
                <div class="col-4">
                    {{ include("trick/form/_picture.html.twig", {form: video}) }}
                </div>
            {% endfor %}
        </div>

        <button class="btn btn-primary mt-5">create trick</button>
    {{ form_end(form, {render_rest: false}) }}
{% endblock %}

{% block javascripts %}<script src="/assets/js/uploadFiles.js"></script>{% endblock %}