{% extends 'base.html.twig' %}

{% block title %}Create a trick{% endblock %}

{% block body %}
    {{ form_start(form) }} 
     <div class="container top">
            <ol class="breadcrumb ">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Create</li>
            </ol>
            <div class="headPicture-wrapper">
                <img class="img-fluid" src="/assets/img/jumbo-img.jpg" alt="">
            </div>
            <hr>
            <div class="trick-title container d-flex align-items-center ">                
                <div class="pl-3  d-flex">
                    <div>{{ form_row(form.name) }}</div>
               
                </div>            
            </div>
            <hr>            
            <div class="trick-info container">
                <div class="row ">                    
                    <div class="col-md-5">
                        {{ form_row(form.category) }}
                    </div>
                    
                </div>            
            </div>
            <hr>           
            <div class="trick-description">
                
                <p class="text-justify">{{ form_row(form.description) }}</p>
            </div>
            
        {{ include("trick/form/_form.html.twig", {form: form}) }}

        <button class="btn btn-primary mt-5">create trick</button>
    {{ form_end(form, {render_rest: false}) }}
{% endblock %}

{% block javascripts %}<script src="/assets/js/uploadFiles.js"></script>{% endblock %}