{% extends 'base.html.twig' %}

{% block title %}{{ trick.name }}{% endblock %}
    {% block body %}
              
        <div class="container top">
            <ol class="breadcrumb ">
                <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
                <li class="breadcrumb-item active">{{ trick.name }}</li>
            </ol>

            <div class="headPicture-wrapper">
            {% if trick.pictures|length %}
                <img class="w-100" src="{{ asset('/uploads/'~ trick.pictures[0].filename) }}"  >
            {% else %}
                <img class="img-fluid" src="/assets/img/jumbo-img.jpg" alt="">
            {% endif %}
            </div>
            <hr>

            <div class="trick-info container">
                <div class="row ">
                    <div class="col-md-5">
                    <p class="travel"><span class="text-success fw-bolder">Ajouté le :</span> {{ trick.createdAt | format_datetime( locale='fr') }}</p>
                    </div>
                    <div class="col-md-5">
                    <p class="travel "><span class="text-success fw-bolder">catégorie :</span> <span class="badge bg-info">{{ trick.category.name }}</span></p>
                    </div>
                    
                </div>            
            </div>
            <hr>

            <div class="trick-title container d-flex align-items-center justify-content-between">
            
                <div class="pl-3 fs-3 d-flex">
                    <i class="fas fa-snowboarding text-white me-2 p-2 rounded-circle bg-success"></i>
                    <div>{{ trick.name }}</div>
                </div>
                {% if app.user %}
                <div class="col-md-2 d-flex justify-content-end fs-3 ">
                        <a href="{{ path('trick_delete', { 'id': trick.id }) }}" class="me-2"><i class="fas fa-trash text-danger"></i></a>
                        <a href="{{ path('trick_edit', { 'id': trick.id  } ) }}"><i class="fas fa-edit text-primary"></i></a>
                </div>
                {% endif %}
            
            </div>
            <hr>

            <section class="mediaContainer container-fluid">
                <div class="text-center d-block   d-sm-block d-md-none">
                                <a href="#" id="loadMedia" class="d-md-block d-lg-none">
                                    <button class="btn btn-outline-secondary">Afficher les médias</button>
                                </a>
                                <a href="#" id="hideMedia" class="d-none d-md-none d-lg-none">
                                    <button class="btn btn-secondary mt-3">Masquer les médias</button>
                                </a>
                </div>
                <div class="media-wrapper d-sm-none d-md-block d-none d-sm-block" id="mediaBlock">
                    <div class="row">
                        <div class="col-md-6 mt-4">                            
                            <div class="row">
                                {% for picture in trick.pictures %}
                                    <div class="col-md-6 mb-3">
                                        <img src="{{ asset('/uploads/'~ picture.filename) }}" class="img-thumbnail" alt="...">
                                    </div>                                   
                                {% endfor %}
                            </div>                                          
                        </div>
                        
                        <div class="col-md-6 mt-4">                            
                            <div class="row">
                                {% for video in trick.videos %}
                                    <div class="col-md-6 mb-3">
                                    
                                        <iframe class="iframes img-thumbnail" src="{{ video.videoUrl }}" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
                                    </div>                                   
                                {% endfor %}
                            </div>                                          
                        </div>                   
                        
                    </div>                    
                </div>
            </section>
            <hr>
            <div class="trick-description">
                <h3>Description:</h3>
                <p class="text-justify">{{ trick.description }}</p>
            </div>
            <hr>


        </div>
        <div class="col-md-12 marginTop">
            {% if  app.user %}
                    <div class="container text-align-start mb-5">
                        <h2>Laissez un commentaire</h2>
                        {{ form_start(form)}}
                            {{ form_row(form.content) }}
                            <button class="btn btn-primary mt-1">create message</button>
                        {{ form_end(form) }}
                        <hr>
                    </div>
                    
                {% else %}
            <div class="comments text-center p-3">
                                
                    <p><a href="/register">Inscrivez-vous</a> ou <a href="/login">connectez vous</a> pour commenter cet article</p>
                {% endif %}

            </div>
        </div>
        {% if trick.comments|length %}
            <section class="comments container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="comments-wrapper shadow p-3 mb-3 rounded">                            
                            <p class="pb-5">{{ trick.comments|length }} commentaire(s)</p>                           
                            {{ render(path('paginated_comments', {page: 1, trickId: trick.id })) }}
                        </div>
                    </div>
                </div>
            </section>
        {% else %}
            <p class="container">pas de commentaires pour l'instant</p>
        {% endif %}
        
        
    {% endblock %}

    {% block javascripts %}
        <script src="/assets/js/showMedia.js"></script>
        <script>
        document.querySelectorAll('.iframes').forEach(element => {
           
            var video = element.src.substring(element.src.lastIndexOf('/') + 1);
            element.src = "https://www.youtube.com/embed/"+ video
        });
        
        </script>
        
    {% endblock %}