{% extends 'base.html.twig' %}

{% block title %}{{ trick.name }}{% endblock %}
    {% block body %}
              
        <div class="container top">
            <ol class="breadcrumb ">
                <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
                <li class="breadcrumb-item active">{{ trick.name }}</li>
            </ol>

            <div class="headPicture-wrapper">
            {% if trick.pictures|length %}
                <img class="w-100" src="{{ asset('/uploads/'~ trick.pictures[0].filename) }}"  >
            {% else %}
                <img class="img-fluid" src="/assets/img/jumbo-img.jpg" alt="">
            {% endif %}
            </div>
            <hr>

            <div class="trick-info container">
                <div class="row ">
                    <div class="col-md-5">
                    <p class="travel"><span class="text-success fw-bolder">Add :</span> {{ trick.createdAt | format_datetime( locale='fr') }}</p>
                    </div>
                    <div class="col-md-5">
                    <p class="travel "><span class="text-success fw-bolder">catégory :</span> <span class="badge bg-info">{{ trick.category.name }}</span></p>
                    </div>
                    
                </div>            
            </div>
            <hr>

            <div class="trick-title container d-flex align-items-center justify-content-between">
            
                <div class="pl-3 fs-3 d-flex">
                    <i class="fas fa-snowboarding text-white me-2 p-2 rounded-circle bg-success"></i>
                    <div>{{ trick.name }}</div>
                </div>
                {% if app.user %}
                <div class="col-md-2 d-flex justify-content-evenly fs-3 ">
                        <a class="" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="fas fa-trash-alt p-1 border rounded text-danger"></i></a> 
                        <a href="{{ path('trick_edit', { 'id': trick.id  } ) }}"><i class="fas fa-pen text-primary p-1 border rounded"></i></a>
                </div>
                {% endif %}
                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                    
                    <div class="modal-body">
                        Do you really want to delete this trick ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                        <a href="{{ path('trick_delete', { 'id': trick.id }) }}" class="btn btn-primary">Yes</a>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            <hr>
            
            
            <section class="mediaContainer container-fluid">
                <div class="text-center d-block   d-sm-block d-md-none">
                                <a href="#" id="loadMedia" class="d-md-block d-lg-none">
                                    <button class="btn btn-outline-secondary">Show médias</button>
                                </a>
                                <a href="#" id="hideMedia" class="d-none d-md-none d-lg-none">
                                    <button class="btn btn-secondary mt-3">Hide médias</button>
                                </a>
                </div>
                <div class="media-wrapper d-sm-none d-md-block d-none d-sm-block" id="mediaBlock">
                    <div class="row">
                        <div class="col-md-6 mt-4">                            
                            <div class="row">
                                {% for picture in trick.pictures %}
                                    <div class="col-md-6 mb-3">
                                        <img src="{{ asset('/uploads/'~ picture.filename) }}" class="img-thumbnail" alt="...">
                                    </div>                                   
                                {% endfor %}
                            </div>                                          
                        </div>
                        
                        <div class="col-md-6 mt-4">                            
                            <div class="row">
                                {% for video in trick.videos %}
                                    <div class="col-md-6 mb-3">
                                    
                                        <iframe class="iframes img-thumbnail" src="{{ video.videoUrl }}" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
                                    </div>                                   
                                {% endfor %}
                            </div>                                          
                        </div>                   
                        
                    </div>                    
                </div>
            </section>
            <hr>
            <div class="trick-description">
                <h3>Description:</h3>
                <p class="text-justify">{{ trick.description }}</p>
            </div>
            <hr>


        </div>
        <div class="col-md-12 marginTop">
            {% if  app.user %}
                    <div class="container text-align-start mb-5">
                        <h2>Leave a comment</h2>
                        {{ form_start(form)}}
                            {{ form_row(form.content) }}
                            <button class="btn btn-primary mt-1">Send comment</button>
                        {{ form_end(form) }}
                        <hr>
                    </div>
                    
                {% else %}
            <div class="comments text-center p-3">
                                
                    <p><a href="/register">Register</a> or <a href="/login">log in</a> to comment this post</p>
                {% endif %}

            </div>
        </div>
        {% if trick.comments|length %}
            <section class="comments container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="comments-wrapper shadow p-3 mb-3 rounded">                            
                            <p class="pb-5">{{ trick.comments|length }} comment(s)</p>                           
                            {{ render(path('paginated_comments', {page: page, trickId: trick.id })) }}
                            <div class="mt-5 text-center page" >
                            {% if nbOfPage == 1 %}

                            {% else %}
                                <a href="{{path('paginated_comments', {trickId: trick.id })}}/{{page + 1}}" id="loadMore" data-id="{{ trick.id }}" data-page ="2" data-nbOfPage = "{{nbOfPage}}" class="p rounded">Load more ...</a> 
                            {% endif %}
                            
                               
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% else %}
            <p class="container">no comments</p>
        {% endif %}
        
        
    {% endblock %}

    {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="/assets/js/showMedia.js"></script>
        <script>
        document.querySelectorAll('.iframes').forEach(element => {
           
            var video = element.src.substring(element.src.lastIndexOf('/') + 1);
            element.src = "https://www.youtube.com/embed/"+ video
        });
        
        </script>
        <script src="/assets/js/loadMoreMessage.js"> </script>
    {% endblock %}