{% extends 'base.html.twig' %}

{% block title %}Edit a trick{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_widget(form._token) }}
        {{ form_row(form.category) }}
        <button type="button" class="btn btn-success btn-new-image mt-3" data-collection="#pictures">Add image</button>
        <div
                id="pictures"
                class="row"
                data-prototype="{{ include("trick/form/_picture.html.twig", {form: form.pictures.vars.prototype})|e("html_attr") }}"
                data-index="{{ form.pictures|length > 0 ? form.pictures|last.vars.name + 1 : 0 }}"
            >
            
            </div>   
            {% for form in form.pictures %}
                
                <div class="mt-2 test  col-md-2">
                    {{form_row(form.filename)}}
                    <img src="{{ asset('/uploads/' ~ form.vars.value.filename )}}" alt="" class="img-thumbnail previsu">
                    <div class="mt-2 text-end me-2">
                        <a href="{{path('picture_remove_image', {'id': form.vars.value.id })}}" class="remove text-decoration-none ">
                            <i class="fas fa-trash text-danger"></i>
                        </a>
                        <a type="button" class="modify text-decoration-none">
                            <i class="fas fa-pen text-primary"></i>
                        </a>
                    </div>                         
                </div>       
                
            {% endfor %} 

        <button type="button" class="btn btn-success btn-new-video mt-3" data-collection="#videos">Add video</button>
        <div
                id="videos"
                class="row"
                data-prototype="{{ include("trick/form/_video.html.twig", {form: form.videos.vars.prototype})|e("html_attr") }}"
                data-index="{{ form.videos|length > 0 ? form.videos|last.vars.name + 1 : 0 }}"
            >
            
        </div> 
        
        {% for form in form.videos %}
            <div class="mt-5">
                {{form_label(form.videoUrl)}}
                <a href="{{path('picture_remove_image', {'id': form.vars.value.id })}}" class="d-flex align-items-center position-relative text-decoration-none">
                    {{form_widget(form.videoUrl)}}
                    <i class="fas fa-trash text-danger m-2 position-absolute  top-0 end-0"></i>
                </a>
            </div>
            
             {# {{ dump(form) }}  #}    

        {% endfor %}
        
        
        <button class="btn btn-primary mt-5">edit trick</button>
    {{ form_end(form, {render_rest: false}) }}
{% endblock %}

{% block javascripts %}
    <script src="/assets/js/uploadFiles.js"></script>
    <script src="/assets/js/modifyAndRemovePicture.js"></script>

{% endblock %}